* {
  margin: auto !important;
  padding: 1% !important;
}

body {
  height: 100vh;
}

.dropdown-menu {
  background-color: rgb(170, 212, 212);
  padding: 1%;
  width: 90%;
}

.dropdown-menu-items {
  width: 90%;
  background-color: beige;
  padding: 1%;
  opacity: 0;
  display: none;
}

.visible {
  opacity: 1;
  display: block;
}
