.result-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;

  justify-items: center;
}

@media only screen and (max-width: 600px) {
  .result-list {
    display: block;
  }

  .makeStyles-root-1 {
    width: 100%;
  }
}
