@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0.5px 1px;
}

.header {
  text-align: center;
  background-color: rgba(162, 207, 247, 0.527);
}

.header > h1 {
  font-family: "Rowdies", cursive;
  padding: 2%;
}

.input {
  margin-top: 4px;
  text-align: center;
}

.input-box {
  padding: 1%;
  width: 70vw;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
}

.input-box:hover {
  box-shadow: rgba(0, 0, 0, 0.596) 3px 3px;
}

/* CSS-GRID */

.images-display {
  padding: 70px 10% 20px 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.image-display-each {
  width: 100%;
  justify-self: center;
  height: 35vh;
}
